[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "snirh.lab"]
	path = snirh.lab
	url = https://github.com/lpereira-ue/snirh.lab
[submodule "survlab"]
	path = survlab
	url = https://github.com/lpereira-ue/survlab
